
<!--Hw1 non-responsive-->
<!--<div class="container">-->
<!--  <nav>-->
<!--   <li>-->

<!--   </li>-->
<!--    <li>-->

<!--    </li>-->
<!--    <li>-->

<!--    </li>-->
<!--    <li>-->

<!--    </li>-->
<!--    <li>-->

<!--    </li>-->

<!--  </nav>-->
<!--  <section>-->

<!--  </section>-->
<!--  <section style="background: lightgrey ">-->
<!--    hi-->
<!--  </section>-->
<!--  <section>-->
<!--  hi-->
<!--</section>-->
<!--</div>-->

<!--HW1 responsive-->

<div class="background">
  <div class="signInBox"  >
      <div class="singInBox">
        <input class="userinput" type="text" name="fname" placeholder="username">
        <input class="userinput" type="text" name="fname" placeholder="Password">
        <div>
          <button class="buttonlook" type="button"> LOGIN </button>
        </div>
        <span>Not registered?</span>
        <a style="color: lawngreen" href="youtube.com"> Create an account</a>

      </div>
  </div>
<!--    </div>-->
<!--    <div class="co  l-sm-3"></div>-->
</div>
